.controlsCard {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    border-radius: 3px;
}

.btn {
    padding: 2px;
    width: 120px;
    margin: 9px 5px 0 0;
    float: right;
}

.loadingDiv {
    height: 100%;
    display: grid;
    margin-top: 100px;
}

.loading {
    align-self: center;
    justify-self: center;
    margin: 100px auto;
}

.dots {
    align-self: center;
    justify-self: center;
    margin-top: -30px;
}

.dropdown-item:hover {
    background-color: #597AFB;
}

.menu .dropdown-item:hover {
    background-color: #43C799;
}

.heading {
    padding: 10px 0;
}

.buttonBottom {
    margin-bottom: 10px;
}

.typo {
    color: #d5d5d5;
}
